.container {
  align-items: center;
  background: black;
  color: white;
  box-shadow: var(--elevation-2-4);
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 0;
  position: sticky;
  top: 0;
  z-index: 10;
}

.content {
  display: grid;
  grid-template-columns: 92px 1fr;
}